{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>About Us</h2>
        <article>
            <header>
              <img src="../static/img/Header.png" width="600" height="110">
                <h3>Plane Trader</h3>
            </header>
            <p>Plane Trader is a platform for Traders to trade their plane models in a sucure way</p>
            <p>It was established in 1999</p>
            <p>Plane Trader has been developed into a sucure trading platform</p>
            <br>
            <br>
        </article>
    </section>
{% endblock %}