{% extends "layout.html" %}
{% block body %}
<h1>General Enquiry</h1>
<div class="contactcontainer">
    <div class="contactform">
        <table>
            <tr>
              <th class="info">Email:</th>
              <td class="infodetail">enquiry@planetrader.com</td>
            </tr>
            <tr>
              <th class="info">Telephone:</th>
              <td class="infodetail">55667788</td>
            </tr>
                <th class="info">Fax:</th>
                <td class="infodetail">66778899</td>
            </tr>
            <tr>
                <th class="info">Address:</th>
                <td class="infodetail">Ladies' Market, 83 Tung Choi St, Mong Kok</td>
            </tr>
            <tr>
                <th class="info">Opening hours:</th>
                <td class="infodetail">Monday to Friday : 7:30am - 6:00pm </td>
            </tr>
            <tr>
                <th class="info"></th>
                <td class="infodetail">Saturday : 9:00am - 1:00pm </td>
            </tr>
            <tr>
                <th class="info"></th>
                <td class="infodetail">Sunday / Public Holiday : Closed</td>
            </tr>
          </table>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d274.3274016078211!2d114.17075161843269!3d22.319815838772577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400c7cd136481%3A0x2d7aa22a11bb57a1!2sSincere%20House%20Build!5e0!3m2!1szh-TW!2shk!4v1610982433730!5m2!1szh-TW!2shk" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map"></iframe>
</div>
{% endblock %}