{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>Payment Method</h2>
        <article>
            <header>
                <h3>Information about payment for our Company</h3>
            </header>
            <img src="../static/img/Paymentmethod/Paypal.png" width="400" height="230">
            <p>Paypal support more than 200 countries and different Credit Card Company.</p>
            <p>Paypal Provides 24/7 Fraud Monitoring, Seller protection for PayPal payments and 3D Secure to ensure the payment between buyers and sellers.</p>
            <p>PayPal accepts all major credit cards from Visa, Mastercard, American Express and Discover.</p>
            <img src="../static/img/Paymentmethod/paypal_credit_cards.gif" width="210" height="80">
            <br>
            <br>
            <h5>**If you find your credit card is not being accepted with a message such as "The card you entered cannot be used for this payment. Please enter a different credit or debit card number." it might be due to one of the following reasons:</h5>
            <br>
            <ol>
                <li>Your card is associated with a specific PayPal account, and you're not logging in with that particular account.</li>
                <li>Your card was associated with a PayPal account that has since been closed.</li>
                <li>You've linked the card to a PayPal account, but have not yet confirmed it.</li>
                <li>You've exceeded your card limit with the PayPal system.</li>
                <li>Your email address is raising a red flag in PayPal's system.</li>
                <li>Your browser is not accepting cookies. You should clear any existing cookies and try again.</li>
              </ol>
            <br>
            <br>
        </article>
    </section>
    {% endblock %}