{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>Privacy Policy</h2>
        <article>
          <p>Your privacy is our FIRST priority. Please view our privacy statements and how your data treated.</p>
          <br>
          <h4>Our Privacy Statement</h4>
          <p>Your Privacy is important to us. Your personally identifying information will be respected and protected. Plane Trader makes every reasonable attempt to safeguard customer privacy. Except where required by regulation, court order, official authority or applicable law, Plane Trader will not make available individual customer information or data to any third party. Customer understands, agrees and acknowledges that individual customer information or data collected will only be used by Plane Trader for internal purposes, including but not limited to, improving Plane Trader services or extending special offers to customers.</p>
          <br>
          <h4>How We Treat Your Information</h4>
          <p>Your shipping information and e-mail information will ONLY be used in shipping and communication purpose.</p>
          <p>We have NO right to view your credit card and bank information.</p>
      </article>
    </section>
    {% endblock %}