{% extends "layout.html" %}
{% block body %}
<section>
  <h2>Air Traffic Control 4</h2>
  <article>
    <div class="row">
      <div class="column">
  <div class="card" style="width: 18rem;">
    <img src="../static/img/ATC4/rjtt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ATC4 Hanada</h5>
      <p class="card-text">Game Based on Hanada ATC</p>
      <a href="{{ url_for('details') }}" class="btn btn-primary" onclick='Details("rjtt")'>Details</a>
    </div>
  </div>
  </div>
  <div class="column">
  <div class="card" style="width: 18rem;">
    <img src="../static/img/ATC4/rjtt2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ATC4 Hanada 2.0</h5>
      <p class="card-text">Game Based on Hanada ATC</p>
      <a href="{{ url_for('details') }}" class="btn btn-primary">Details</a>
    </div>
  </div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem;">
      <img src="../static/img/ATC4/rjbb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ATC4 Kanku</h5>
        <p class="card-text">Game Based on Kanku ATC</p>
        <a href="{{ url_for('details') }}" class="btn btn-primary">Details</a>
      </div>
    </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="../static/img/ATC4/rjff.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ATC4 Fukuoka</h5>
          <p class="card-text">Game Based on Fukuoka ATC</p>
          <a href="{{ url_for('details') }}" class="btn btn-primary">Details</a>
        </div>
      </div>
      </div>
    <div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC4/rjgg.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">ATC4 Centrair</h5>
<p class="card-text">Game Based on Centrair ATC</p>
<a href="{{ url_for('details') }}" class="btn btn-primary">Details</a>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC4/roah.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">ATC4 Naha</h5>
<p class="card-text">Game Based on Naha ATC</p>
<a href="{{ url_for('details') }}" class="btn btn-primary">Details</a>
</div>
</article>
</section>
<section>
  <h2>Air Traffic Control 3 (Stop Production）</h2>
  <article>
    <div class="row">
      <div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC3/rjtt.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">ATC3 Hanada</h5>
  <p class="card-text">Game Based on Hanada ATC</p>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC3/roah.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">ATC3 Naha</h5>
  <p class="card-text">Game Based on Naha ATC</p>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjoo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ATC3 Itami</h5>
    <p class="card-text">Game Based on Itami ATC</p>
  </div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
    <img src="../static/img/ATC3/vhhx.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ATC3 Kai Tak</h5>
      <p class="card-text">Game Based on Kai Tak ATC</p>
    </div>
  </div>
  </div>
</div>
<div class="row">
<div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC3/rjss.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">ATC3 Sendai</h5>
<p class="card-text">Game Based on Sendai ATC</p>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC3/rjcc.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">ATC3 New Chitose</h5>
<p class="card-text">Game Based on New Chitose ATC</p>
</div>
</div>
</div>
<div class="column">
<div class="card" style="width: 18rem;">
<img src="../static/img/ATC3/rjbb.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">ATC3 Kansai</h5>
<p class="card-text">Game Based on Kansai ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjttd.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Hanada (Day)</h5>
  <p class="card-text">Game Based on Hanada ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjfk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Kagoshima</h5>
  <p class="card-text">Game Based on Kagoshima ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjah.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Ibaraki</h5>
  <p class="card-text">Game Based on Ibaraki ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/phnl.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Honolulu</h5>
  <p class="card-text">Game Based on Honolulu ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjaa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Narita</h5>
  <p class="card-text">Game Based on Narita ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjaan.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Narita (Night)</h5>
  <p class="card-text">Game Based on Narita ATC</p>
</div>
</div>
</div>
<div class="column">
  <div class="card" style="width: 18rem;">
  <img src="../static/img/ATC3/rjgg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">ATC3 Centrair</h5>
  <p class="card-text">Game Based on Centrair ATC</p>
</div>
</article>
</section>
{% include "includes/_scrolltotop.html" %}
{% endblock %}
