{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>Return & Refund Policy</h2>
        <article>
            <header>
                <h3>Information about Refunding</h3>
            </header>
                <h2>Return Shipping Costs</h2>
                <p>When you choose the shipping method for your return, return fees are calculated. Delivery addresses in the 50 United States (U.S.) and APO/FPO addresses using a U.S. zip code are eligible for Free Returns.</p>
                <p>If you return an item using a paid method, we'll deduct the cost of return shipping and restocking fees from your refund.</p>
                <p>If you choose to ship the item on your own, you'll pay the carrier when you ship your return. If the return is the result of an Amazon error, we'll refund your return shipping costs up to a maximum amount.</p>
                <br>
                <h2>Return Methods</h2>
                <p>You can return items in the following ways: </p>
                <ul>
                    <li>Using drop off services at locations that are convenient for you</li>
                    <li>Using pickup options</li>
                    <li>Using Heavy-Bulky return options, handled by a specialty carrier team</li>
                    <li>Using Locker, Locker+, and Amazon Hub Counter locations for small packages</li>
                    <li>Using a scanned QR code at designated returns locations to make label-free and package-free returns</li>
                </ul>
                <br>
        </article>
    </section>
    {% endblock %}