{% extends "layout.html" %}
{% block body %}
    <section>
        <h2>Shipping Information</h2>
        <article>
            <header>
                <h3>Information about shipping for our Company</h3>
            </header>
            <p>Unless Customer requested, we will choose Hong Kong Post to ship your parcel</p>
            <img src="../static/img/shippinginfo/4px.jpg" width="320" height="140">
            <img src="../static/img/shippinginfo/SF_Express_Logo.png" width="240" height="100">
            <p>Customer can request to use 4Px or SF express to deliver (Hong Kong Only) </p>
            <img src="../static/img/shippinginfo/FedEx.jpg" width="240" height="200">
            <img src="../static/img/shippinginfo/DHL.png" width="512" height="112">
            <p>Customer can request to use Fedex or DHL to deliver (International deliver Only)</p>
            <h5>**Insurance must be bought to prevent any lost of the parcel</h5>
            <br>
        </article>
    </section>
    {% endblock %}